body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
p{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 30px;
  margin-bottom: -30px;

}
p span{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 15px;
  margin-bottom: -30px;

}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.selectedAn{
  border: 10px solid rgba(255, 255, 255, 0.641);
}
@media (max-width:1150px){
  .container {
    width: 70%;
  }
  
  .btn {
    margin: 20px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  #level-title {
    font-size: 1.4rem;
    margin:  5%;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
}